* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
 --bg-color:#eaf4f4;
 --hover-color: rgb(87, 87, 87);
 --another: #03045e;
 --aboutp: #adb5bd;
 --objec: #dee2e6;
 --footer: #dee2e6;
 --footeri: #3f4246;
 --font: poppins;
 --square: #adb5bd;
 --original:black;
}
:root.darktheme {
    --bg-color: #1d3557;
    --hover-color: #00b4d8;
    --aboutp: #0466c8;
    --objec: #023e7d;
    --original: white;
    --footer: #1d3d6b;
    --footeri: #4cc9f0;
    --square: #14263e;
    --font: Poppins;
}
header {
    font-family: Poppins;
    justify-content: space-between;
    letter-spacing: 2px; 
    display: flex;
    height: 80px;
    z-index: 10000;
    position: fixed;
    width: 1480px;
}
header h1 {
    margin-left: 100px;
    font-size: xx-large;
    padding-top: 20px;
    cursor: pointer;
}
header a {
    text-decoration: none;
}
header ul {
    padding-top: 30px;
margin-left: 400px;
}
header li {
    font-weight: 700;
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
header i{
    font-size: 2.0em;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: 200px;
    cursor: pointer;
}
header i:hover {
    transition: 0.5s ease-in-out;
}
header li:hover {
    transition: 0.5s;
}
header h1:hover {
    transition: 0.5s ;
}
#selected {
    scale: 1.1;
}
#navbar {
    position: fixed;
    right: 0;
    font-family: poppins;
    font-weight: 600;
    font-size: large;
    transform: translatex(500px);
    display: flex;
    transition: 1s ease-in-out; 
    height: 620px;
    height: 1000px;
    z-index: 1000;
}
#navbar.open {
    display: flex;
    transform: translateX(0px);
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar ul {
    padding-top: 80px;
    margin-right: 80px;
    padding-left: 80px;
}
#navbar li {
    list-style:none;
    margin-top: 30px;
}
#navbar li:hover {
    transition: 0.5s ;
}
#container {
    width: 70px;
    height: 30px;
    border-radius: 30px;
    background-color: grey;
}
#ball {
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    background-color: black;
    transition: 0.5s ease-in-out;
}
#container.darktheme #ball {
    margin-left: 40px;

}
#content {
 height: 640px;
}

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i {
    font-size: 2.0em;
    margin-left: 40px;
    border-radius: 60%;
    transform: scale(1);
    transition: 1s ease-in-out;
}
footer a i:hover {
  transform: scale(1.20);
  transition: 1s ease-in-out; 
}
