/*Principal configs*/
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
/*Pallets*/
:root {
 --bg-color:#eaf4f4;
 --font: black;
 --hover: #2a9d8f;
 --square: #d8e2dc;
 --icon-fotter: #8ecae6;
}
:root.darktheme {
    --bg-color: black;
    --font: white;
    --hover: #a2d2ff;
    --square: rgba(17, 40, 100, 0.3);
    --icon-fotter: #8ecae6;
}
/*The header*/
header {
    font-family: Poppins;
    justify-content: space-between;
    letter-spacing: 2px; 
    display: flex;
    height: 80px;
    z-index: 10000;
    position: fixed;
    width: 1480px;
}
header h1 {
    margin-left: 100px;
    font-size: xx-large;
    padding-top: 20px;
    cursor: pointer;
}
header a {
    text-decoration: none;
}
header ul {
    padding-top: 30px;
margin-left: 400px;
}
header li {
    font-weight: 700;
    list-style: none;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
header i{
    font-size: 2.0em;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: 200px;
    cursor: pointer;
}
header li:after {
    width: 0px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    border-radius: 30px;
    background-color: var(--hover);
    transition: 0.5s ease-in-out;
}
header li:hover::after {
    width: 100%;

}
header i:hover {
    transition: 0.5s ease-in-out;
}
header li:hover {
    transition: 0.5s;
}
header h1:hover {
    transition: 0.5s ;
}
#selected {
    scale: 1.1;
}
/*Navbar*/
#navbar {
    position: fixed;
    right: 0;
    font-family: poppins;
    font-weight: 600;
    font-size: large;
    transform: translatex(500px);
    display: flex;
    transition: 0.5s ease-in-out; 
    height: 620px;
    height: 1000px;
    z-index: 1000;
}
#navbar.open {
    display: flex;
    transform: translateX(0px);
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar ul {
    padding-top: 100px;
    margin-right: 80px;
    padding-left: 80px;
}
#navbar li {
    list-style:none;
    margin-top: 30px;
}
#navbar li:hover {
    transition: 0.5s ;
}
/*Ball and trail*/
#container {
    width: 70px;
    height: 30px;
    border-radius: 30px;
    background-color: grey;
    cursor: pointer;
}
#ball {
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    background-color: black;
    transition: 0.5s ease-in-out;
}
#container.darktheme #ball {
    margin-left: 45px;

}
#content {
 height: 640px;
}
/*Footer*/
footer {
    height: 150px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i {
    font-size: 2.0em;
    margin-left: 40px;
    border-radius: 60%;
    transform: scale(1);
    color: var(--original);
    transition: 1s ease-in-out;
}
footer a i:hover {
  transform: scale(1.20);
  transition: 1s ease-in-out; 
}
