* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #669bbc;
    color: white; 
    overflow-x: hidden}
header {
    font-family: Poppins;
    justify-content: space-between;
    letter-spacing: 2px; 
    display: flex;
    background-color: #669bbc;
    height: 80px;
}
header h1 {
    margin-left: 100px;
    font-size: xx-large;
    padding-top: 20px;
    cursor: pointer;
}
header a {
    color: white;
    text-decoration: none;
}
header ul {
    padding-top: 30px ;
    margin-left: 550px;
    margin-right: 50px;
}
header li {
    font-weight: 700;
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
header i{
    font-size: 2.0em;
    margin-top: 23px;
    margin-right: 10px;
    cursor: pointer;
}
header i:hover {
    color: #03045e;
    transition: 0.5s ease-in-out;
}
header li:hover {
    color: #ade8f4;
    transition: 0.5s;
}
header h1:hover {
    color:#ade8f4;
    transition: 0.5s ;
}

#selected {
    color: #ade8f4;
}
#navbar {
    float: right;
    font-family: poppins;
    font-weight: 600;
    font-size: large;
    transform: translatex(300px);
    display: flex;
    transition: 1s ease-in-out; 
    background-color: #669bbc;
    height: 620px;
   
}
#navbar.open {
    display: flex;
    transform: translateX(0px);
}
#navbar a {
    text-decoration: none;
    color: white;
}


#navbar ul {
    padding-top: 80px;
    margin-right: 80px;
    padding-left: 80px;
}
#navbar li {
    list-style:none;
    margin-top: 30px;
}
#navbar li:hover {
 color: #ade8f4;
}

#content {
 height: 640px;
   
}
footer {
    background-color: #5691b6;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i {
    color: white;
    font-size: 2.0em;
    margin-left: 40px;
    border-radius: 60%;
    transform: scale(1);
    transition: 1s ease-in-out;
}
footer a i:hover {
  border: 1px solid #03045e;
  transform: scale(1.20);
  transition: 1s ease-in-out;
  color: #03045e;
    
}
