@import url(/assets/css/global/global.css); 

header {
    background-color: var(--bg-color);
}
header i {
    color: var(--original);
}
header i:hover {
    color: var(--hover-color);
}
header li {
    color: var(--original);
}
header li:hover {
    color: var(--hover-color);
}
header h1 {
    color: var(--original);
}
header h1:hover {
    color: var(--hover-color);
}
#navbar {
    background-color: var(--bg-color);
}
#navbar li {
    color: var(--original);
}
 #navbar li:hover {
     color: var(--hover-color);
}
#content {
    background-color: var(--bg-color);
    color: var(--original);
}
#right {
    display: flex;
    float: right;

}
#conta {
    overflow: auto;
    color: var(--original);
}
#left {
    padding: 100px;
    margin-top: 100px;
    font-family: poppins;
}
#left h1 {
     font-weight: 600;
    font-size: xx-large;  
}
#left h2 {
    margin-top: 20px;
}
#right img {
    border-radius: 100%;
    margin-right: 100px;
    margin-top: 100px;
}
#aboutproject {
    background-color: var(--aboutp) ;
}
#objectives {
    background-color: var(--objec);
    color: var(--original);
}
#conta {
    background-color: var(--bg-color);
    height: 640px;
}
#aboutproject {
    color: var(--original);
    font-family: poppins;
    height: 200px;
    display: grid;
    place-items: center;
}
#aboutproject p {
    font-size: large;
    font-weight: 600;
    margin-top: -40px;
}
#aboutproject a {
    color: #60afff;
    text-decoration: none;
}
#objectives {
    font-family: poppins;
     display: grid;
    place-items: center;
    height: 200px;

}
 #objectives p {
     margin-top: -70px;
    font-size: large;
    font-weight: 600;
}
#objectives a {
    color: #2473c2;
    text-decoration: none;
}
footer {
    background-color: var(--footer);
}
footer i {
    color: var(--footeri);
}
footer a i:hover {
    border: 1px solid var(--footeri);
    border-radius: 50%;
}
    

    