@import url(/assets/css/global/global.css); 

header {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
header i {
    color: var(--font);
}
header i:hover {
    color: var(--hover);
}
header li {
    color: var(--font);
}
header li:hover {
    color: var(--hover);
}
header h1 {
    color: var(--font);
}
header h1:hover {
    color: var(--hover);
}
#navbar {
    background-color: var(--bg-color);
}
#navbar ul {
    padding-top: 200px ;
}
#navbar li {
    color: var(--font);
}
 #navbar li:hover {
     color: var(--hover);
}
#content {
    background-color: var(--bg-color);
    color: var(--font);
}
#right {
    display: flex;
    float: right;

}
#conta {
    overflow: auto;
    color: var(--font);
}
#left {
    padding: 100px;
    margin-top: 100px;
    font-family: poppins;
}
#left h1 {
     font-weight: 600;
    font-size: xx-large;  
}
#left h2 {
    margin-top: 20px;
}
#right img {
    border-radius: 100%;
    margin-right: 100px;
    margin-top: 100px;
}
#aboutproject {
    background-color: var(--bg-color) ;
    transition: 0.5s ease-in-out;
}
#objectives {
    background-color: var(--bg-color);
    color: var(--font);
    transition: 0.5s ease-in-out;
}
#conta {
    background-color: var(--bg-color);
    height: 640px;
    transition: 0.5s ease-in-out;
}
#aboutproject {
    color: var(--font);
    font-family: poppins;
    height: 200px;
    display: grid;
    place-items: center;
    transition: 0.5s ease-in-out;
}
#aboutproject p {
    font-size: large;
    font-weight: 600;
    margin-top: -40px;
}
#aboutproject a {
    color: #60afff;
    text-decoration: none;
}
#objectives {
    font-family: poppins;
     display: grid;
    place-items: center;
    height: 200px;
    transition: 0.5s ease-in-out;

}
 #objectives p {
     margin-top: -70px;
    font-size: large;
    font-weight: 600;
}
#objectives a {
    color: #2473c2;
    text-decoration: none;
}
footer {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
footer i {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
footer a i:hover {
    color: var(--hover);
    border: 1px solid var(--hover);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
    

    