@import url(/assets/css/global/global.css); 
body {
    color: white;
    }
    header {
        background-color: #9d4edd;
    
    }
    header i:hover {
        color: #6a040f;
    }
    header li:hover {
        color: #3c096c;
    }
    header h1:hover {
        color: #3c096c;
    }
    #selected {
        color: #3c096c;
    
    }
    #content {
        background-color: #9d4edd;
    }
    #navbar {
        background-color: #9d4edd;
    }
   
    #navbar li:hover {
        color: #3c096c;
    }
    footer {
        background-color: #5a189a;
    }
    footer i {
        color: white;
    }
    #container {
        background-color: #9d4edd;
        height: 640px;
        
    }
    #right {
        display: flex;
        float: right;

    }
    #container {
        overflow: auto;
    }
    #left {
        padding: 100px;
        margin-top: 100px;
        font-family: poppins;
    }
    #left h1 {
        font-weight: 600;
        font-size: xx-large;
        
    }
    #left h2 {
     margin-top: 20px;
    }
    #right img {
        border-radius: 100%;
        margin-right: 100px;
        margin-top: 90px;
    }
    footer a i:hover {
      border: 1px solid #03045e;
      color: #03045e;
    }
    #aboutproject {
        background-color: #240046;
    }
    #objectives {
        background-color: #3c096c;
    }
    
    #aboutproject {
        font-family: poppins;
        height: 200px;
        display: grid;
        place-items: center;
    }
    #aboutproject p {
        font-size: large;
        font-weight: 600;
    margin-top: -40px;}
    #aboutproject a {
        color: #3a0ca3;
        text-decoration: none;
    }
    #aboutproject a:hover {
        color: #5115de;
        transition: 0.5s ease-in-out;
    }
    #objectives {
        font-family: poppins;
        display: grid;
        place-items: center;
        height: 200px;

    }
    #objectives p {
        margin-top: -70px;
        font-size: large;
        font-weight: 600;
    }
   #objectives a {
    color: #3a0ca3;
    text-decoration: none;
}
#objectives a:hover{
    color: #5115de;
    transition: 0.5s ease-in-out;
}

    