@import url(../global/global.css);

header {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
header i {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
header i:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
}
header li {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
header li:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
}
header h1 {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
header h1:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
}
#lang {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
#navbar {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
#navbar li {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
#navbar li:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
}
#content {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
footer {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
footer i {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
footer a i:hover {
    border: 1px solid #03045e;
    color: #03045e;
    transition: 0.5s ease-in-out;
}
#fpart {
    background-color: var(--bg-color);
    display:flex;
    height: 1030px;
    padding-left: 60px;
    transition: 0.5s ease-in-out;
    }

.square {
    height: 430px;
    display: inline-block;
    vertical-align: top;
    width: 430px;
    background-color: var(--square);
    border-radius: 20px; 
    margin-top: 50px;
    margin-right: 40px;
    font-family: poppins;
    scale: 1;
    transition:0.5s ease-in-out ;
    color: var(--font);
 }
.square img {
    width: 150px;
    margin-left: 140px;
    padding-top: 50px;
}
.square h5 {
    font-weight: 600;
    font-size: larger;
    display: grid;
    place-items: center;
    margin-top: -20px;
}
.square p {
    display: grid;
    place-items: center;
    font-weight: 500;
    margin-top: -20px;
}
.square h5 {
    padding: 50px;
}
.square button {
    border: 2px solid #00b4d8;
    cursor: pointer;
    margin-top: 30px;
    color: #00b4d8;
    background-color: black;
    font-family: 'poppins';
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-left: 165px;
    transition: 0.5s ease-in-out;
}
.square:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    border: 2px solid #00b4d8;
    box-shadow: 0px 0px 30px #00b4d8;
}
.square button:hover {
    border: 2ps solid #00b4d8;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 30px #00b4d8;
}
#text {
    background-color: var(--bg-color);
    font-family: 'poppins';
    font-size:medium;
    padding-left: 90px;
    padding-top: 20px;

}
#text h1:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}