@import url(/assets/css/global/global.css);
* {
    font-family: poppins;
}
header {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
header h1 {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
header h1:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
}
header li {
    color: var(--font);
    position: relative;
    transition: 0.5s ease-in-out;
}


header li:hover {
    color:  var(--hover);
    transition: 0.5s ease-in-out;
}
header i {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
header i:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
}
#navbar {
    background-color: var(--bg-color);
    color: var(--font);
    transition: 0.5s ease-in-out;
}
#navbar li {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
#navbar li:hover {
    color: var(--hover);
    transition: 0.5s ease-in-out;
}
#content {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
footer {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
footer i {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
footer a i:hover {
    transition: 0.5s ease-in-out;
    border: 1px solid var(--icon-fotter);
    color: var(--icon-fotter);
}

#content {
    transition: 0.5s ease-in-out;
    padding-left: 60px;
    height: 525px;
    background-color: var(--bg-color);
}
#content2 {
    transition: 0.5s ease-in-out;
    padding-left: 60px;
    height: 1030px;
    background-color: var(--bg-color);
}
#content3 {
    transition: 0.5s ease-in-out;
    padding-left: 60px;
    height: 1030px;
    background-color: var(--bg-color);
}

.square {
    transition: 0.5s ease-in-out;
    height: 430px;
    display: inline-block;
    vertical-align: top;
    width: 430px;
    background-color: var(--square);
    border-radius: 20px; 
    color: var(--font);
    margin-top: 50px;
    margin-right: 40px;
    font-family: poppins;
    scale: 1;
}
.square img {
    width: 150px;
    margin-left: 140px;
    padding-top: 50px;
}
.square i {
    color: var(--font);
    font-size: 9.375em;
    margin-left: 140px;
    padding-top: 50px;
}
.square h5 {
    font-weight: 600;
    font-size: larger;
    display: grid;
    place-items: center;
    margin-top: -20px;
}
.square p {
    display: grid;
    place-items: center;
    font-weight: 500;
    margin-top: -20px;
}
.square h5 {
    padding: 50px;
}
.square button {
    border: 2px solid #00b4d8;
    cursor: pointer;
    margin-top: 30px;
    color: #00b4d8;
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-left: 165px;
    transition: 0.5s ease-in-out;
}
.square:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    border: 2px solid #00b4d8;
    box-shadow: 0px 0px 30px #00b4d8;
}
.square button:hover {
    border: 2ps solid #00b4d8;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 30px #00b4d8;
}
#text {
    background-color: var(--bg-color);
    font-family: 'poppins';
    color: var(--font);
    transition: 0.5s ease-in-out;
    font-size:medium;
    padding-left: 90px;
    padding-top: 20px;

}
#text h1:hover {
    color: var(--firstfont);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
