@import url(/assets/css/global/global.css);
:root {
    --background: #669bbc;
    --hover: #ade8f4;

}
img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
body {
    color: white;
    background-color: var(--background);
}
#content {
    display: flex;
    align-items: center;
}
#content img {
    float: left;
    object-fit: cover;
    margin-left: 90px;
    height: 500px;
    width: 500px;
}
#write {
    font-family: poppins;
    margin-left: 130px;
    margin-bottom: 80px;
}
#write p {
    margin-top: 40px;
    font-size: large;
    font-weight: 600;
}
#write ul {
    margin-top: 40px;
    font-family: poppins;
    font-weight: 600;
    font-size: larger;
  
}
#write li {
    font-family:roboto ;
    margin-top: 20px;
    cursor: pointer;
    margin-right: px;
}
#write li:hover {
    color: #03045e;
    transition: 0.2s ease-in-out;
}
li::marker {
    color: transparent;
}

header {
    background-color: var(--background);

}
header i:hover {
    color: #03045e;
}
header li:hover {
    color: var(--hover);
}
header h1:hover {
    color: var(--hover);
}
#selected {
    color: var(--hover);

}
#navbar {
    background-color: var(--background);
}
#navbar li:hover {
    color: var(--hover);
}
footer {
    background-color: #5691b6;
}
footer i {
    color: white;
}
footer a i:hover {
  border: 1px solid #03045e;
  color: #03045e;
  
}
