@import url(../global/global.css);
body {
    color: var(--font);
    background-color: var(--bg-color);
} 
/*Colors*/
img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
header {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
header li {
    color: var(--font);
}
header i {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
header h1 {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
header h1:hover {
    color: var(--hover)
}
header li {
    transition: 0.5s ease-in-out;
}
header li:hover {
    color: var(--hover);
}
#navbar {
    background-color: var(--bg-color);
}
#navbar li {
    color: var(--font);
}
#navbar li:hover {
    color: var(--hover);
}
footer {
    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
}
footer i {
    color: var(--font);
    transition: 0.5s ease-in-out;
}
footer i:hover {
    scale: 1.1;
    color: var(--icon-fotter);
    border: 1px solid var(--icon-fotter);
}
/*Page style*/
#content {
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
    background-color: var(--bg-color);
    color: var(--font);
}
#content img {
    float: left;
    object-fit: cover;
    margin-left: 90px;
    height: 500px;
    width: 500px;
}
#write {
    font-family: poppins;
    margin-left: 130px;
    margin-bottom: 80px;
}
#write p {
    margin-top: 40px;
    font-size: large;
    font-weight: 600;
}
#write ul {
    margin-top: 40px;
    font-family: poppins;
    font-weight: 600;
    font-size: larger;
  
}
#write li {
    font-family:roboto ;
    margin-top: 20px;
    cursor: pointer;
    margin-right: px;
}
#write li:hover {
    color: #03045e;
    transition: 0.2s ease-in-out;
}
li::marker {
    color: transparent;
}


